<h1>Catálogos</h1>
<hr>

<div class="card-columns">

  <div class="card">
      <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
      <div class="card-block">
          <h4 class="card-title">Autobuses</h4>
          <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <a [routerLink]="['/autobuses']" class="btn btn-outline-primary btn-block"> Ver más...</a>
      </div>
  </div>

    <div class="card animation fadeIn fast">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Alumnos</h4>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <!-- <button (click)="verAlumnos()" type="button" class="btn btn-outline-primary btn-block">
          Ver más...
        </button> -->
            <a [routerLink]="['/alumnos']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Tutores</h4>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a [routerLink]="['/tutores']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>

    <!--   <div class="card"> -->
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <!--   <div class="card-block">
            <h4 class="card-title">Rutas</h4> -->
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <!--     <a [routerLink]="['/ruta']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div> -->

    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Direcciones Agregar/Editar</h4>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a [routerLink]="['/direcciones']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Nanas</h4>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a [routerLink]="['/nanas']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Conductores</h4>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a [routerLink]="['/conductores']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <!-- <div class="card">
        <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Paradas</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a [routerLink]="['/paradas']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div> -->
  <!--  <div class="card"> -->
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
      <!--  <div class="card-block">
            <h4 class="card-title">Disciplinas</h4>-->
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        <!--    <a [routerLink]="['/disciplinas']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>-->
    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Asociación de direcciones por día del alumno</h4>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a [routerLink]="['/asignaciones']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Crear Ruta</h4>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a [routerLink]="['/asignaciones-rutas-paradas']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title"> Asociación de Familias a direcciones</h4>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a [routerLink]="['/asignaciones-rutas-tutores']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <div class="card">
    <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
    <div class="card-block">
        <h4 class="card-title">Asociación de Paradas a las Rutas</h4>
        <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        <a [routerLink]="['/asignaciones-rutas-direcciones']" class="btn btn-outline-primary btn-block"> Ver más...</a>
    </div>
</div>

</div>
