<h1>
    Notificaciones</h1>
<hr>

<div class="container col-12">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Fecha Inicio" (keyup.enter)="buscarNotificacion(buscarFechaInicio.value+';'+buscarFechaFin.value)"
            #buscarFechaInicio>
        <input class="form-control mr-sm-2" type="text" placeholder="Fecha Fin" (keyup.enter)="buscarNotificacion(buscarFechaInicio.value+';'+buscarFechaFin.value)"
            #buscarFechaFin>
        <button (click)="buscarNotificacion(buscarFechaInicio.value+';'+buscarFechaFin.value)" class="btn btn-outline-primary my-2 my-sm-0"
            type="button">Consultar</button>
    </form>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Tutor</th>
            <th>Estatus</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let notificacion of notificaciones">
            <td>{{notificacion.fechaInicio}}</td>
            <td>{{notificacion.fechaFin}}</td>
            <td>{{notificacion.tutor}}</td>
            <td>{{notificacion.estatus}}</td>
            <td>{{notificacion.tipo}}</td>
        </tr>
    </tbody>
</table>
<!--<a class="btn btn-outline-primary" [routerLink]="['/edit-circulares']">Agregar <span class="sr-only">(current)</span></a>-->
<a [routerLink]="['/comunicacion']" class="btn btn-outline-danger"> Regresar</a>