<h1>Comunicación</h1>
<hr>


<div class="card-columns">
    <div class="card animation fadeIn fast">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Circulares</h4>
            <a [routerLink]="['/circulares']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <!--<div class="card">
        <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Avisos</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a [routerLink]="['/avisos']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Notificaciones</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a [routerLink]="['/notificaciones']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>-->
    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Eventos</h4>
            <a [routerLink]="['/eventos']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
</div>
