<block-ui>
<h4>
    Circulares</h4>
<hr>
  <!--<form [formGroup]="forma" (ngSubmit)="guardarCambios()"> -->
 <form role="form" name="editTituloForm" id="editTituloForm" (ngSubmit)="guardarCambios()" #editTituloForm="ngForm" novalidate>

    <!-- <div class="form-group row" [ngClass]="{' has-danger':!titul.valid && titul.touched}">
        <label class="col-2 col-form-label">Título</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Título" name="titul" [(ngModel)]="circular.titulo" required autofocus #titul="ngModel">
            <div *ngIf="titul.errors && (titul.dirty || titul.touched)" class="form-control-feedback">
                <div [hidden]="!titul.errors.required">
                    El título es requerido
                </div>
            </div>
        </div>
    </div> [ngClass]="{' has-danger':!mensajeCorto.valid && mensajeCorto.touched}"-->
    <div class="form-group row" [ngClass]="{' has-danger':!mensajeCorto.valid && mensajeCorto.touched}">
        <label class="col-2 col-form-label">Asunto</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Asunto" name="mensajeCorto" [(ngModel)]="circular.mensajeCorto"
                required autofocus #mensajeCorto="ngModel" style="text-transform:uppercase">
            <div *ngIf="mensajeCorto.errors && (mensajeCorto.dirty || mensajeCorto.touched)" class="form-control-feedback">
                <div [hidden]="!mensajeCorto.errors.required">
                    El mensaje corto es requerido
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{' has-danger':!mensajeLargo.valid && mensajeLargo.touched}">
        <label class="col-2 col-form-label">Texto</label>
        <div class="col-8">
          <textarea class="form-control" type="text" placeholder="Texto" name="mensajeLargo" [(ngModel)]="circular.mensajeLargo"
              required autofocus #mensajeLargo="ngModel"></textarea>
            <!-- <input class="form-control" type="text" placeholder="Mensaje Largo" name="mensajeLargo" [(ngModel)]="circular.mensajeLargo"
                required autofocus #mensajeLargo="ngModel"> -->
            <div *ngIf="mensajeLargo.errors && (mensajeLargo.dirty || mensajeLargo.touched)" class="form-control-feedback">
                <div [hidden]="!mensajeLargo.errors.required">
                    El mensaje largo es requerido
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{' has-danger':!escuela.valid && escuela.touched}">
        <label class="col-2 col-form-label">Escuela</label>
        <div class="col-8">
          <select class="form-control" type="text" placeholder="Escuela" name="escuela" [(ngModel)]="circular.escuela" required autofocus
              #escuela="ngModel" style="text-transform:uppercase">
              <option *ngFor="let c of nivelSchool" [ngValue]="c.name">{{c.nombre}}</option>
          </select>
          <!-- <select class="form-control" type="text" placeholder="Escuela" name="escuela" [(ngModel)]="circular.escuela" required autofocus
              #escuela="ngModel">

          </select> -->
            <!-- <input class="form-control" type="text" placeholder="Escuela" name="escuela" [(ngModel)]="circular.escuela" required autofocus
                #escuela="ngModel"> -->
            <div *ngIf="escuela.errors && (escuela.dirty || escuela.touched)" class="form-control-feedback">
                <div [hidden]="!escuela.errors.required">
                    La escuela es requerida
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="form-group row" [ngClass]="{' has-danger':!sistemaOperativo.valid && sistemaOperativo.touched}">
        <label class="col-2 col-form-label">Sistema Operativo</label>
        <div class="col-8">
          <select class="form-control" type="text" placeholder="Sistema Operativo" name="sistemaOperativo" [(ngModel)]="circular.sistemaOperativo"
              required autofocus #sistemaOperativo="ngModel" style="text-transform:uppercase">
            <option *ngFor="let c of SO" [ngValue]="c.name">{{c.nombre}}</option>
          </select>
             <input class="form-control" type="text" placeholder="Sistema Operativo" name="sistemaOperativo" [(ngModel)]="circular.sistemaOperativo"
                required autofocus #sistemaOperativo="ngModel"> 
            <div *ngIf="sistemaOperativo.errors && (sistemaOperativo.dirty || sistemaOperativo.touched)" class="form-control-feedback">
                <div [hidden]="!sistemaOperativo.errors.required">
                    El sistema operativo es requerido
                </div>
            </div>
        </div>
    </div> -->

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-offset-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="editTituloForm.invalid">
                Guardar
            </button>
            <label>&nbsp;</label>
            <a [routerLink]="['/circulares']" class="btn btn-outline-danger"> Regresar</a>
        </div>

    </div>
</form>
</block-ui>
