<h1>Reportes</h1>
<hr>


<div class="card-columns">

    <div class="card animation fadeIn fast">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Consulta General</h4>
            <a [routerLink]="['/menu-reportes']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
    <div class="card">
        <!-- <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap"> -->
        <div class="card-block">
            <h4 class="card-title">Consulta Autorizaciones</h4>
            <a [routerLink]="['/menu-autorizaciones']" class="btn btn-outline-primary btn-block"> Ver más...</a>
        </div>
    </div>
</div>
