<block-ui>
<h4>
    Agregar <small>Conductor</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">
    <div class="form-group row" [ngClass]="{' has-danger':!forma.controls['apellidoPaternoConductor'].valid && forma.controls['apellidoPaternoConductor'].touched}">
        <label class="col-2 col-form-label">Apellido Paterno</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Apellido Paterno" formControlName="apellidoPaternoConductor" [(ngModel)]="conductor.apellidoPaternoConductor" style="text-transform:uppercase">
            <div *ngIf="forma.get('apellidoPaternoConductor').errors?.required && forma.controls['apellidoPaternoConductor'].touched" class="form-control-feedback">
                El apellido paterno es requerido
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{' has-danger':!forma.controls['apellidoMaternoConductor'].valid && forma.controls['apellidoMaternoConductor'].touched}">
        <label class="col-2 col-form-label">Apellido Materno</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Apellido Materno" formControlName="apellidoMaternoConductor" [(ngModel)]="conductor.apellidoMaternoConductor" style="text-transform:uppercase">
            <div *ngIf="forma.get('apellidoMaternoConductor').errors?.required  && forma.controls['apellidoMaternoConductor'].touched" class="form-control-feedback">
                El apellido materno es requerido
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{' has-danger':!forma.controls['nombreConductor'].valid && forma.controls['nombreConductor'].touched}">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Nombre" formControlName="nombreConductor" [(ngModel)]="conductor.nombreConductor" style="text-transform:uppercase">
            <div *ngIf="forma.get('nombreConductor').errors?.required && forma.controls['nombreConductor'].touched" class="form-control-feedback">
                El nombre es requerido
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{' has-danger':!forma.controls['telefonoConductor'].valid && forma.controls['telefonoConductor'].touched}">
        <label class="col-2 col-form-label">Teléfono del conductor</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Teléfono" formControlName="telefonoConductor" [(ngModel)]="conductor.telefonoConductor" maxlength="10" pattern="[0-9]{1,10}">
            <div *ngIf="forma.get('telefonoConductor').errors?.required && forma.controls['telefonoConductor'].touched" class="form-control-feedback">
                El teléfono del conductor es requerido
            </div>
            <div *ngIf="forma.get('telefonoConductor').errors?.pattern">
              Solo Números.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-offset-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid">
                Guardar
            </button>
            <label>&nbsp;</label>
            <a [routerLink]="['/conductores']" class="btn btn-outline-danger"> Regresar</a>
        </div>
    </div>
</form>
</block-ui>
